<div class="container">    
  <div class="row">  
    <%= bootstrap_form_with(model: product, local: true, class: 'product-form col-lg-6 col-sm-12') do |form| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.text_field :hauptartikelnr %>
      <%= form.text_field :artikelname %>
      <%= form.text_field :hersteller %>
      <%= form.text_area :beschreibung %>
      <%= form.text_area :materialangaben %>
      <%= form.text_field :geschlecht %>
      <%= form.text_field :produktart %>
      <%= form.text_field :aermel %>
      <%= form.text_field :bein %>
      <%= form.text_field :kragen %>
      <%= form.text_field :herstellung %>
      <%= form.text_field :taschenart %>
      <%= form.text_field :grammatur %>
      <%= form.text_field :material %>
      <%= form.text_field :ursprungsland %>
      <%= form.text_field :bildname %>
      <%= form.submit %>

    <% end %>
  </div>
</div>
