<p id="notice"><%= notice %></p>

<p>
  <strong>Hauptartikelnr:</strong>
  <%= @product.Hauptartikelnr %>
</p>

<p>
  <strong>Artikelname:</strong>
  <%= @product.Artikelname %>
</p>

<p>
  <strong>Hersteller:</strong>
  <%= @product.Hersteller %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @product.Beschreibung %>
</p>

<p>
  <strong>Materialangaben:</strong>
  <%= @product.Materialangaben %>
</p>

<p>
  <strong>Geschlecht:</strong>
  <%= @product.Geschlecht %>
</p>

<p>
  <strong>Produktart:</strong>
  <%= @product.Produktart %>
</p>

<p>
  <strong>Ärmel:</strong>
  <%= @product.Ärmel %>
</p>

<p>
  <strong>Bein:</strong>
  <%= @product.Bein %>
</p>

<p>
  <strong>Kragen:</strong>
  <%= @product.Kragen %>
</p>

<p>
  <strong>Herstellung:</strong>
  <%= @product.Herstellung %>
</p>

<p>
  <strong>Taschenart:</strong>
  <%= @product.Taschenart %>
</p>

<p>
  <strong>Grammatur:</strong>
  <%= @product.Grammatur %>
</p>

<p>
  <strong>Material:</strong>
  <%= @product.Material %>
</p>

<p>
  <strong>Ursprungsland:</strong>
  <%= @product.Ursprungsland %>
</p>

<p>
  <strong>Bildname:</strong>
  <%= @product.Bildname %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
