<div class="container product-show">  
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Hauptartikelnr:</strong>
    <%= @product.hauptartikelnr %>
  </p>

  <p>
    <strong>Artikelname:</strong>
    <%= @product.artikelname %>
  </p>

  <p>
    <strong>Hersteller:</strong>
    <%= @product.hersteller %>
  </p>

  <p>
    <strong>Beschreibung:</strong>
    <%= @product.beschreibung %>
  </p>

  <p>
    <strong>Materialangaben:</strong>
    <%= @product.materialangaben %>
  </p>

  <p>
    <strong>Geschlecht:</strong>
    <%= @product.geschlecht %>
  </p>

  <p>
    <strong>Produktart:</strong>
    <%= @product.produktart %>
  </p>

  <p>
    <strong>Ärmel:</strong>
    <%= @product.aermel %>
  </p>

  <p>
    <strong>Bein:</strong>
    <%= @product.bein %>
  </p>

  <p>
    <strong>Kragen:</strong>
    <%= @product.kragen %>
  </p>

  <p>
    <strong>Herstellung:</strong>
    <%= @product.herstellung %>
  </p>

  <p>
    <strong>Taschenart:</strong>
    <%= @product.taschenart %>
  </p>

  <p>
    <strong>Grammatur:</strong>
    <%= @product.grammatur %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= @product.material %>
  </p>

  <p>
    <strong>Ursprungsland:</strong>
    <%= @product.ursprungsland %>
  </p>

  <p>
    <strong>Bildname:</strong>
    <%= @product.bildname %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
